{% extends 'base.html' %}
{% block content %}
    <form style="margin-top: 20px">
        {% csrf_token %}
        <div class="form-group">
            <label>密码：</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label>确认密码：</label>
            <input type="password" class="form-control" id="re_pwd">
            <span class="error pull-right"></span>
        </div>
        <input type="button" class="btn btn-info" id="sub_change" value="提交">
    </form>
    <script type="text/javascript">
        $("#sub_change").click(function () {
            var pwd = $("#pwd").val();
            var re_pwd = $("#re_pwd").val();
            if(pwd != re_pwd){
                $("#re_pwd+ span").html("两次密码不一致")
                setTimeout(function () {
                    $("#re_pwd+ span").html(' ');
                },1000)
                return
            }
            $.ajax({
                url: "",
                type: "post",
                data: {
                    "pwd": pwd,
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    console.log(data);
                    if(data.user){
                        alert("更改密码成功");

                    }
                    else{
                        $("#pwd").html(data.msg)
                    }
                }
            })
        })
    </script>
{% endblock %}